<div class="mainTable">
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col"> {{ 'HOME.ID' | translate }}</th>
        <th scope="col">{{ 'HOME.FIRST_NAME' | translate }}</th>
        <th scope="col">{{ 'HOME.LAST_NAME' | translate }}</th>
        <th scope="col">{{ 'HOME.LOCATION' | translate }}</th>
        <th scope="col">{{ 'HOME.PROVINCE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'disabled': !customer.active, 'active': customer.active}" *ngFor="let customer of customers"
        (click)="openModal(customer)">
        <th scope="row"> {{ customer.id }}</th>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.location }}</td>
        <td>{{ customer.province }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="showModal" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
    [ngStyle]="{'display': 'block', 'position': 'absolute', 'top': '11px', 'right': '14px'}">
    <div class="toast-header">
      <strong class="me-auto">Error</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
        (click)="closeModal()"></button>
    </div>
    <div class="toast-body">
      API {{error}}
    </div>
  </div>

  <div class="modal" tabindex="-1" *ngIf="showModalRowClick" [ngStyle]="{'display': 'block'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" [ngStyle]="{'padding': '0px 11px'}">
          <h5 class="modal-title">Customer Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModalData()"></button>
        </div>
        <div class="modal-body" [ngStyle]="{'display': 'flex'}">
          <p class="displayDetails">Name : {{customerData.name}}</p> &nbsp;
          <p class="displayDetails">Location : {{customerData.location}}</p>
          <p>Customer Id: {{customerData.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>